<div class="generic-page">
        <div class="page-sub-menu desktop-only">
            <div class="container">
                <ul>
                    <li><div class="circle"></div><a fragment="introduzione" (click)="navigateToSection('introduzione')">01 {{ 'info.1' | translate }}</a></li>
                    <li><div class="circle"></div><a fragment="cause" (click)="navigateToSection('cause')">02 {{ 'info.2' | translate }}</a></li>
                    <li><div class="circle"></div><a fragment="contesto" (click)="navigateToSection('contesto')">03 {{ 'info.3' | translate }}</a></li>
                    <li><div class="circle"></div><a fragment="etimologia" (click)="navigateToSection('etimologia')">04 {{ 'info.4' | translate }}</a></li>
                    <li><div class="circle"></div><a fragment="impatto" (click)="navigateToSection('impatto')">05 {{ 'info.5' | translate }}</a></li>
                    <li><div class="circle"></div><a fragment="significato" (click)="navigateToSection('significato')">06 {{ 'info.6' | translate }}</a></li>
                    <li><div class="circle"></div><a fragment="sfide" (click)="navigateToSection('sfide')">07 {{ 'info.7' | translate }}</a></li>
                    <li><div class="circle"></div><a fragment="uso" (click)="navigateToSection('uso')">08 {{ 'info.8' | translate }}</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <h2 >
                {{ 'info.title' | translate }}
            </h2>
        </div>  
        <div class="section" id="introduzione">
            <div class="container">
                <h2>O1</h2>
                <h3> {{ 'info.1.title' | translate }}</h3>
                <p>
                    {{ 'info.1.desc' | translate }}
                    
                </p>
            </div>
        </div>
        <div class="img-section">
            <div>
                <img src="./assets/hero-bg.jpg" alt="img maniquines"/>
            </div>
        </div>        
        <div class="section oblique opposite" id="cause">
            <div class="container">
                <h2>O2</h2>
                <h3> {{ 'info.2.title' | translate }}</h3>
                <p>
                
                    {{ 'info.2.desc' | translate }} 
                </p>
            </div>

        </div>
        <div class="section oblique" id="contesto">
            <div class="container">
                <h2>O3</h2>
                <h3> {{ 'info.3.title' | translate }}</h3>
                <p>
                
                    {{ 'info.3.desc' | translate }} 
                </p>
            </div>
        </div>
        <div class="section oblique opposite" id="etimologia">
            <div class="container">
                <h2>O4</h2>
                <h3> {{ 'info.4.title' | translate }}</h3>
                <p>
                
                    {{ 'info.4.desc' | translate }} 
                </p>

            </div>
        </div>
        <div class="section oblique" id="impatto">
            <div class="container">
                <h2>O5</h2>
                <h3> {{ 'info.5.title' | translate }}</h3>
                <p>
                
                    {{ 'info.5.desc' | translate }} 
                </p>
            </div>
        </div>
        <div class="section oblique opposite" id="significato">
            <div class="container">
                <h2>O6</h2>
                <h3> {{ 'info.6.title' | translate }}</h3>
                <p>
                
                    {{ 'info.6.desc' | translate }} 
                </p>
            </div>

        </div>
        <div class="section oblique" id="sfide">
            <div class="container">
                <h2>O7</h2>
                <h3> {{ 'info.7.title' | translate }}</h3>
                <p>
                
                    {{ 'info.7.desc' | translate }} 
                </p>

            </div>
        </div>
        <div class="section oblique opposite" id="uso">
            <div class="container">
                <h2>O8</h2>
                <h3> {{ 'info.8.title' | translate }}</h3>
                <p>
                
                    {{ 'info.8.desc' | translate }} </p>
            </div>
                
        </div>
        <div class="section oblique end">
            <div class="container">
                <p>
                    In conclusione, femmicidio e femminicidio sono concetti che mettono in luce la grave problematica della violenza 
                    di genere contro le donne. Mentre le implicazioni possono variare, entrambi i termini contribuiscono al dibattito 
                    globale sulla parità di genere e alla necessità di affrontare in modo completo la violenza contro le donne.
                <br/>
                    FONTE: <a href="https://unipd-centrodirittiumani.it/it/schede/I-concetti-di-femmicidio-e-femminicidio/368">UNIPD - Centro di Ateneo per i Diritti Umani</a>
                </p>
            </div>
        </div>
    
</div>