
$red: #BC2036;
$yellow: #FBB64F;
$charcoal: #2E5266;
$gray: #6E8898;
$gray2: #9FB1BC;

.generic-page{
    scroll-behavior: smooth;
    background-color: $charcoal;
    padding-top: 110px;
    color: $yellow;
    font-family: "Archivo", serif;
    position: relative;
    p{
        line-height: 2;
        font-size: 16px;
    }
    h2{
        font-size: 3rem;
        text-transfrom: uppercase;
        background: linear-gradient(to right, #BC2036, #FBB64F,  #BC2036);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right: 30%;
        @media (max-width: 900px) {
            margin: 0;
            
        }
    }


    .img-section{
        aspect-ratio: 3  / 1;
        overflow: hidden;
        width: 100%;
        position: relative;
        z-index: 13;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        
    -webkit-transform-origin:100% 100%;
    -ms-transform-origin:100% 100%;
    transform-origin:100% 100%;

    -webkit-transform:skewY(-2deg);
    -ms-transform:skewY(-2deg);
    transform:skewY(-2deg);
    margin-top: -80px;

    }
    .section{
        @media (max-width: 900px) {
            h2{
                padding: 15px;
            }
        }
        padding-bottom: 100px;
        >.container{
            position: relative;
        }
        &.oblique{
            position: relative;
            padding-bottom: 0;
            background-color: $charcoal;
            :nth-child(1){            
                z-index: 12;                
                margin-top: -50px;
                
                padding: 50px;
                @media (max-width: 900px) {
                    h2{
                        padding: 15px;
                    }
                }
            }
            &:nth-child(2){            
                z-index: 11;
            }
            &:nth-child(3){            
                z-index: 10;
            }
            &:nth-child(4){            
                z-index: 9;
            }
            &:nth-child(5){            
                z-index: 8;
            }
            &:nth-child(6){            
                z-index: 7;
            }
            &:nth-child(7){            
                z-index: 6;
            }
            &:nth-child(8){            
                z-index: 5;
            }
            &:nth-child(9){            
                z-index: 4;
            }
            &:nth-child(10){            
                z-index: 3;
            }
            &:nth-child(11){            
                z-index: 2;
            }
            -webkit-transform:skewY(-2deg);
            -ms-transform:skewY(-2deg);
            transform:skewY(-2deg);
            padding: 80px 0 40px;
            margin: -80px 0;
            >.container{
                padding-top: 100px;
                -webkit-transform:skewY(+2deg);
                -ms-transform:skewY(+2deg);
                transform:skewY(+2deg);
            }
            &.opposite{
                h2{
                    background: linear-gradient(to right, $charcoal, #BC2036, $charcoal);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
                -webkit-transform:skewY(+2deg);
                -ms-transform:skewY(+2deg);
                transform:skewY(+2deg);
                >.container{
                    -webkit-transform:skewY(-2deg);
                    -ms-transform:skewY(-2deg);
                    transform:skewY(-2deg);
                    position: relative;
                }

            }
            &.end{
                text-align: right;
                p{
                    margin-right: 0;
                }
                a{
                    color: $yellow;

                }
            }
        }
        h2{
            font-size: 100px;
            opacity: 0.6;
            margin: 0;
            position: absolute;
            z-index: 0;
            right: 0;
            bottom: 10%;
        }
        h3{
            font-size: 2rem;
            padding-top: 30px;
            position: relative;
        }
        p{
            margin-right: 30%;
        }
        &.opposite{
            text-align: right;
            background-color: $yellow;
            color: $red;
            p{
                margin-right: 0;
                margin-left: 30%;
            }
            h2{
                left: 0;
                right: auto;
            }
        }
    }
}
.desktop-only{
    display: none;
    @media (min-width: 900px) {
        display: block;       
    }
}
.page-sub-menu{
    background-color: $charcoal;
    position: fixed;
    top: 60px;
    z-index: 99;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        padding: 15px 0;
        li{
            display: flex;
            a{
                padding: 15px;
                color: $yellow;
            }

            .circle{
                position: absolute;
                background-color: $yellow;
                border-radius: 50%;
                width: 10px;
                height: 10px;
                margin: 17px 0;
                display: none;

            }
            &.active{
                .circle{
                    display: block;
                }
            }
        }
    }
}

