<div class="generic-page">
  <div class="img-container">
    <img src="./assets/resources-img.jpg" alt="img"/>

  </div>
  <div class="container">
    <div>
      <h2>
        {{ 'menu.resource' | translate }} </h2>
      <p>
        {{ 'resource.intro' | translate }}
      </p>
      <h3>{{ 'home.resource' | translate }}</h3>
      
      <h4>{{ 'resource.linee' | translate }} </h4>
          <ul>
            <li>{{ 'resource.linee.1' | translate }} <a href="https://www.telefonorosa.it/" target="_blank">website</a> <a href="tel:+390637518282">06.37.51.82.82</a></li>
            <li>{{ 'resource.linee.2' | translate }} <a href="https://www.1522.eu/mappatura-1522/" target="_blank">Mappa centri anti violenza</a></li>
          </ul>
      <h4>{{ 'resource.associazioni' | translate }}</h4>
          <ul>
            <li>{{ 'resource.associazioni.1' | translate }} <a href="https://www.direcontrolaviolenza.it/i-centri-antiviolenza/" target="_blank">website</a></li>
            <li>{{ 'resource.associazioni.2' | translate }} <a href="https://www.weworld.it/en" target="_blank">website</a></li>
          </ul>
          <h4>
            {{ 'resource.supporto' | translate }}</h4>
          <ul>
            <li>
              {{ 'resource.supporto.1' | translate }} <a href="http://www.psicologiperipopoli.it" target="_blank">website</a>
            </li>
          </ul>
          <h4>{{ 'resource.campagne' | translate }} </h4>
          
          
          <ul>
            <li>
              {{ 'resource.campagne.1' | translate }}<a href="https://nonunadimeno.wordpress.com/" target="_blank">website</a>
              
            </li>
          </ul>
          <h4>{{ 'resource.assistenza' | translate }}</h4>
           
          <ul>
            <li>
                 
              {{ 'resource.assistenza.1' | translate }} <a href="https://www.avvocatodistrada.it/" target="_blank">website</a>
          
            </li>
          </ul>
          {{ 'resource.end' | translate }}
             
      
      <p>
        
      </p>
      
      
      
      
      
      
      
      

    </div>
  </div>
</div>