<div class="generic-page">
  <div class="img-container">
    <img src="./assets/resources-img.jpg" alt="img"/>

  </div>
  <div class="container">
    <div>
      <h2>Resources</h2>
      <p>
        Risorse per la Prevenzione dei Femminicidi e la Lotta contro la Violenza sulle Donne
      
      </p>
      <h3>NUMERO NAZIONALE ANTI VIOLENZA E STALKING: 1522</h3>
      
      <h4>Linee di Emergenza e Centri Antiviolenza:</h4>
          <ul>
            <li>Telefono Rosa: Numero dedicato alle vittime di violenza. <a href="https://www.telefonorosa.it/" target="_blank">website</a> <a href="tel:+390637518282">06.37.51.82.82</a></li>
            <li>Centri Antiviolenza: Strutture locali che offrono supporto e assistenza. <a href="https://www.1522.eu/mappatura-1522/" target="_blank">Mappa centri anti violenza</a></li>
          </ul>
      <h4>Associazioni e Organizzazioni:</h4>
          <ul>
            <li>D.i.Re: Donne in Rete contro la violenza. <a href="https://www.direcontrolaviolenza.it/i-centri-antiviolenza/" target="_blank">website</a></li>
            <li>WeWorld: Organizzazione che lotta contro lo sfruttamento e la violenza di genere. <a href="https://www.weworld.it/en" target="_blank">website</a></li>
          </ul>
          <h4>
          Supporto Psicologico:</h4>
          <ul>
            <li>
              Psicologi per i Popoli: Rete di psicologi che offrono consulenze gratuite alle vittime di violenza. <a href="http://www.psicologiperipopoli.it" target="_blank">website</a>
            </li>
          </ul>
          <h4>Campagne di Sensibilizzazione:</h4>
          
          
          <ul>
            <li>
              Non una di Meno: Movimento femminista impegnato contro la violenza di genere. <a href="https://nonunadimeno.wordpress.com/" target="_blank">website</a>
              
            </li>
          </ul>
          <h4>Assistenza Legale:</h4>
           
          <ul>
            <li>
                 
          Avvocati di Strada: Offre assistenza legale gratuita a chiunque ne abbia bisogno. <a href="https://www.avvocatodistrada.it/" target="_blank">website</a>
          
            </li>
          </ul>
              
              
              La lotta contro i femminicidi richiede un approccio multisettoriale, coinvolgendo governi, organizzazioni non governative, istituzioni educative e la società civile. Un'azione coordinata può contribuire a creare un ambiente più sicuro e a proteggere le donne dalla violenza di genere.
              
      
      <p>
        
      </p>
      
      
      
      
      
      
      
      

    </div>
  </div>
</div>