/* menu.component.scss */
$red: #BC2036;
$yellow: #FBB64F;
$charcoal: #2E5266;
$gray: #6E8898;
$gray2: #9FB1BC;
.mobile-only{
  display: none;
  @media (max-width: 900px) {
    display: flex;
    justify-content: end;
  }
}
.mobile-menu-icon{
  background-color: transparent;
  color: $yellow;
  width: 40px;
  height: 40px;
  box-shadow: none;
  z-index: 9;
  .close-icon{
    color: $charcoal;
    display: none;
  }
  &.open{
    .close-icon{
      display: block;
    }
    .menu-icon{
      display: none;
    }
    
    
  }
}
.nav-container{
  @media (max-width: 900px) {
    display: none;
    &.active{
      display: block;
      position: absolute; 
      width: 70%;
      top: 0;
      right: 0;  
      z-index: 2; 
    }
    .nav{
      background-color: $yellow;
      height: 100vh;
        display: flex;
        flex-direction: column;
        padding: 50px 20px;
        margin: 0;
        li{          
          a{
            color: $charcoal;
            padding: 15px;
          }
        }
      

    }
  }

  
  @media (min-width: 900px) {
    display: flex;
    justify-content: end;
  }
}

.mobile-menu-bg{
  display: none;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $charcoal;
  opacity: 0.7;
  &.active{
    display: block;
    z-index: 1;
  }
}
nav {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
    >div{
      display: flex;
      justify-content: space-between;
    }
    h2{
      margin: 0;
      padding: 0;
      a{
        font-size: 40px;
        line-height: 60px;
        margin: 0;
        padding: 0;
        @media (max-width: 900px) {
          font-size: 20px;
          line-height: 20px;          
        }
        color: $red;
text-decoration: none;
      }
    }
    ul {
      list-style: none;
      display: flex;
      margin: 10px;
      li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        a {
          text-decoration: none;
          color: $yellow;
          font-weight: bold;
          font-family: 'Archivo Black', serif;
          padding: 0 20px;
          text-transform: uppercase;
          &:hover {
            color: $red;
          }
        }
      }
    }
    @media (min-width: 900px) {
      position: fixed;
      background-color: #2E5266;
    }
  }
  .menu-img{
    position: absolute;
    bottom: 0;
    max-width: 300px;
  }
