
$red: #BC2036;
$yellow: #FBB64F;
$charcoal: #2E5266;
$gray: #6E8898;
$gray2: #9FB1BC;

.generic-page{
    scroll-behavior: smooth;
    background-color: $charcoal;
    padding-top: 110px;
    color: $yellow;
    font-family: "Archivo", serif;
    position: relative;
    min-height: calc(100vh - 57px);
    p{
        line-height: 2;
        font-size: 16px;
    }
    h2{
        font-size: 3rem;
        //text-transfrom: uppercase;
        background: linear-gradient(to right, #BC2036, #FBB64F,  #BC2036);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right: 30%;
        @media (max-width: 900px) {
            margin: 0;
            
        }
    }

    .img-section{
        aspect-ratio: 3  / 1;
        overflow: hidden;
        width: 100%;
        position: relative;
        z-index: 13;
        margin-top: 60px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
        
    -webkit-transform-origin:100% 100%;
    -ms-transform-origin:100% 100%;
    transform-origin:100% 100%;

    -webkit-transform:skewY(-2deg);
    -ms-transform:skewY(-2deg);
    transform:skewY(-2deg);
    margin-top: -80px;

    }
}
.desktop-only{
    display: none;
    @media (min-width: 900px) {
        display: block;       
    }
}
