
body, div{
    padding: 0;
    margin: 0;
}
body, p , span, a{
    font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Black', serif;
  }

img{
    width: 100%;
}

.container{
    max-width: 1200px;
    margin: auto;
    @media(max-width: 1400px){
        padding: 15px;
    }
}