.language-container{
  color: #FBB64F;
  button{
    color: #FBB64F;
    background-color: transparent;
    padding: 0 5px;
    margin: 0;
    cursor: pointer;
    border: 1px solid #FBB64F;
    font-weight: bold;
    &.active {
      background-color: #FBB64F;
      color: #2E5266;
    }
  }
  @media (max-width: 900px) {
    color: #2E5266;
    padding: 10px 20px;
    button{
      padding: 10px;
      color: #2E5266;
        font-weight: thin;
        border-color: #2E5266;
        &.active{
          font-weight: bold;
          background-color: #2E5266;
          color: #FBB64F;
        }
    }    
  }
}
  
  