<div class="main-content">
    <div class="hero">
        <h1>L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA</h1>
        <h1>L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA</h1>
        <h1>L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA</h1>
        <h1>L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA</h1>
        <h1>L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA</h1>
        <h1>L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA</h1>
        <h1>L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA</h1>
        <h1>L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA  L'ULTIMA</h1>
    </div>
    <div class="section">
        <div class="container">
            <h2>{{ 'home.heromsg' | translate }}</h2>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <h2>{{ 'home.resource' | translate }}</h2>
        <a class='button' routerLinkActive='active' routerLink='/resources'>{{ 'menu.resource' | translate }}</a>
         

        </div>
        
    </div>
    <div class="section">
        <div class="container">

            <h2>{{ 'home.news' | translate }}</h2>
            <a class='button' routerLinkActive='active' routerLink='/news-feed'>{{ 'menu.news' | translate }}</a>
         

        </div>
    </div>
</div>