<div class="main-content">
    <div class="hero">
        <h1>L'ULTIMA</h1>
        <app-vittime-cards class="vittime"></app-vittime-cards>        
    </div>
    <div class="section red">
        <div class="container">
            <h2>{{ 'home.heromsg' | translate }}</h2>
        </div>
    </div>
    <div class="section yellow">
        <div class="container">
            <h2>{{ 'home.resource' | translate }}</h2>
        <a class='button' routerLinkActive='active' routerLink='/resources'>{{ 'menu.resource' | translate }}</a>
         

        </div>
        
    </div>
    <div class="section green">
        <div class="container">
            <h2>{{ 'home.news' | translate }}</h2>
            <a class='button' routerLinkActive='active' routerLink='/news-feed'>{{ 'menu.news' | translate }}</a>
        </div>
    </div>
    <div class="slider-container">
        <div>
            source: <a href="https://femminicidioitalia.info/lista/2023" target="_blank">femminicidioitalia</a>
        </div>
        <app-ultima-slider></app-ultima-slider>
    </div>
</div>