<div class="main-content">
    <div class="hero">
        <h3>“Se domani sono io, mamma, se non torno domani, distruggi tutto.<br/> Se domani tocca a me, voglio essere l’ultima” <br/>- Cristina Torre Cáceres</h3>
    </div>
    <div class="section">
        <div class="container">
            <h2>NUMERO NAZIONALE ANTI VIOLENZA E STALKING: 1522</h2>
        <a class='button' routerLinkActive='active' routerLink='/resources'>RISORSE</a>
         

        </div>
        
    </div>
    <div class="section">
        <div class="container">
            <h2>Want to know more?</h2>
            <a class='button' routerLinkActive='active' routerLink='/information'>INFO</a>
         

        </div>
       
    </div>
    <div class="section">
        <div class="container">

            <h2>check out the news</h2>
            <a class='button' routerLinkActive='active' routerLink='/news-feed'>NOTIZIE</a>
         

        </div>
    </div>
</div>