.main-content{
    width:100%;
    >div{
        width: 100%;
    }
}


.hero{
    min-height: calc(100vh + 20px);
    background-color: #2E5266;
    overflow: hidden;
    height: 100vh;
    padding-top: 60px;
    h1{
        background-image: url('../../assets/hero-bg.jpg');
        font-family: 'Anton', sans-serif;
        font-size: 3rem; 
        line-height: 1;
        font-weight: normal;
        margin: auto;
        background-attachment: fixed;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        text-align: center;
        font-size: 10em;
        margin-left: -20%;
        margin-right: -20%;
        @media (max-width: 900px){
            font-size: 100px; 

        }
    }

}
.section{
    background-color: #BC2036;
    >div{
        padding: 100px;
        @media (max-width: 900px) {
            padding: 30px;          
        }
    }
    h2{
        color: #2E5266;
        text-transform: uppercase;
    }
    .button{
        padding: 10px 20px;
        border-radius: 20px;
        background-color: #2E5266;
        text-transform: uppercase;
        color: #BC2036;
        font-weight: 600;
        text-decoration: none;
        font-family: "Archivo Black", serif;
    }
    &:nth-child(2){
        h2{
            font-size: 3rem;
            @media (max-width: 900px){
                font-size: 30px; 
    
            }
            margin: 0;
        }
    }
    &:nth-child(3){
        background-color: #FBB64F;
        text-align: left;
        h2{
            color: #BC2036;
            text-align: left;
        }
        .button{
            background-color: #BC2036;
            color: #FBB64F;
        }

    }
    &:last-child{
        background-color: #2E5266;
        text-align: right;
        h2{
            color: #FBB64F;
            text-align: right;
        }
        .button{
            background-color: #FBB64F;
            color: #2E5266;
            text-align: right;
        }

    }
}